<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <title>E-Drink</title>
</head>

<body>
    {{{ body }}}
    <script>
        if (
            window.location.href === `http://${window.location.hostname
            }${window.location.port ? ':' + window.location.port : ''
            }/logout`
        ) {
            setTimeout(() => {
                window.location.href = `http://${window.location.hostname
                    }${window.location.port ? ':' + window.location.port : ''
                    }/login`
            }, 2000)
        }
    </script>
   
</body>
<script>
    const socket = io.connect()

    const render = (data) => {
        const html = data.map((elem) => {
            return (`<div>
            <strong>${elem.author.email
                }</strong>
            <em>${elem.timestamp
                } - </em>
            <em>${elem.text
                }</em>
            <img src="${elem.author.avatar
                }" />
        </div>`)
        }).join(" ");
        document.getElementById("messages").innerHTML = html
    }
    socket.on("messages", data => {
        render(data)
    })

    const addMessage = () => {
        const mensaje = {
            author: {
                email: document.getElementById("mail").value,
                avatar: document.getElementById("avatar").value
            },
            text: document.getElementById("text").value
        }
        socket.emit('new-message', mensaje);
        return false
    }
</script>

</html>