<h1>Chat Section</h1>
<form onsubmit="addMessage()">
    <input type="text" id="mail" placeholder="Your mail" required>
    <input type="text" id="avatar" placeholder="Avatar url" required>
    <input type="text" id="text" placeholder="Write your message here">
    <input type="submit" id="submit" value="Enviar">
</form>
<br>
<div id="messages"></div> 