<h1>Bienvenido
    {{user}}!</h1>
<button>
    <a id='logout'href="http://localhost:8080/logout">Logout</a>
</button>
<button>
    <a href="http://localhost:8080/api/productos" > Productos </a>
</button>
